{% extends 'base.html' %}

{% block title %}About{% endblock title %}
{% block aboutactive %}active{% endblock aboutactive %}
{% block body %}

<div class="container-fluid my-0 px-0">
    <div class="card bg-dark text-white">
        <img src="../static/img/knowledge.jpg" style="height: 60vh;" class="card-img" alt="...">
        <div class="card-img-overlay" id="id1">
          <h1 class="card-title" style="text-align:center; font-size:70px">iLoveTravel</h1>
          <p class="card-text" style="text-align:center; font-size:40px">Where NEXT?</p>
        </div>
      </div>
</div>

<div class="mt-5 px-2 py-2 mx-4" style="background-color:rgb(223, 236, 236);">
    <h5 class="card-header">Our mission</h5>
    <div class="row">
        <div class="col-lg-6 my-3">
            <h3>1. Victoria memorial hall, Kolkata</h3>
            <br>
            <p>The Victoria Memorial is a large marble building in Kolkata, West Bengal, India, which was built
                between 1906 and 1921. It is dedicated to the memory of Queen Victoria and serves as a museum
                and a popular tourist attraction.</p>          
        </div>

        <div class="col-lg-1">
            
        </div>
        
        <div class="glow col-lg-5">
            <img src="../static/img/test.jpeg" alt="" style="width: 450px" class="my-3">
        </div>
    </div>
</div>

<br><br>

<div class="mt-5 px-2 py-2 mx-4" style="background-color:rgb(223, 236, 236);">

    <h5 class="card-header text-end">Our story</h5>
    <div class="row">
              
        <div class="glow col-lg-5">
            <img src="../static/img/test.jpeg" alt="" style="width: 450px" class="my-3">
        </div>

        <div class="col-lg-1">

        </div>

        <div class="col-lg-6 my-3">
            <h3>1. Victoria memorial hall, Kolkata</h3>
            <br>
            <p>The Victoria Memorial is a large marble building in Kolkata, West Bengal, India, which was built
                between 1906 and 1921. It is dedicated to the memory of Queen Victoria and serves as a museum
                and a popular tourist attraction.</p>          
        </div>
        
    </div>
</div>


<br><br>


<div class="mt-5 px-2 py-2 mx-4" style="background-color:rgb(223, 236, 236);">
            <h5 class="card-header">Our team</h5>
            <div class="row">
                <div class="col-lg-6 my-3">
                    <h3>1. Victoria memorial hall, Kolkata</h3>
                    <br>
                    <p>The Victoria Memorial is a large marble building in Kolkata, West Bengal, India, which was built
                        between 1906 and 1921. It is dedicated to the memory of Queen Victoria and serves as a museum
                        and a popular tourist attraction.</p>          
                </div>
        
                <div class="col-lg-1">
                    
                </div>
                
                <div class="glow col-lg-5">
                    <img src="../static/img/test.jpeg" alt="" style="width: 450px" class="my-3">
                </div>
            </div>
</div>

<div class="container my-3" style="text-align:end">
    <a href="/about">Back to top</a>
</div>


{% endblock body %}
